body {
  background: rgb(255, 254, 255);
    color: #050202;
    font-size: 15px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 70px;
    line-height: 30px;
    font-size: 18px;
    border: 5px solid rgb(45, 38, 38);
}
h1 {
  font-size: 25px;
  letter-spacing: 2px;
}
h2 {
  font-size: 19px;
  color: pink;
  letter-spacing: 4px;
}
.container {
  width: 75%;
  margin: auto;

}
.avatar{
        width: 200px;
        border-radius: 100px;
        box-shadow: 10px 4px 14px rgba(0, 0, 0, 0 25);
        margin: 5%;
        border: 3px solid  black;
    }
    .nav-list {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
      }
      @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
      html {
        scroll-behavior: smooth;
        width: 100%;
        height: 100%;
      }
  
      .nav-link {
        padding: 10px 20px;
        line-height: 100px;
        color: pink;
        text-decoration: none;
      }

      .header {
        background: black;
        width: 100%;
        padding: 10px 0.5% 0px 0.5%;
      }

     
      
      .imfgit {
        width: 80px;
        border-radius: 100px;
      }
      .imgrs {
        width: 120px;

      }

      .name {
        font-weight: bold;
        font-variant: small-caps;
        

      }
      @media (min-width: 768px) {
        .section {
          width: 30%;
        }
      }

      @media (max-width: 700px) {
        .section {
          margin-top: 15px;
        width: 100%;
        }
      }
.footer {
        font-size: 15px;
        padding: 15px;
        border: 10px;
        margin: auto;
        display: flex;
      
      }
.nameis {
        text-align: center;
      }
   
.foot {
  display: inline-block;
}

.list {
  padding: 0 20px;
}

.info {
  display: flex;
}

.container1 {
display: flex;
width: fit-content;
flex-wrap: wrap;
padding: 10px;
justify-content: space-between;

}

.container1 div {
  padding: 20px;
  border: 2px solid pink;
  border-radius: 40px;
  margin: 10px;
  border: 9px double black;
}

.container3 div {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 10px;
}
