    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    body {
    
        background: rgb(251, 243, 249);
        color: #050202;
        font-size: 15px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    }
    * {
        box-sizing: border-box;
      }
    .avatar{
        width: 200px;
        border-radius: 100px;
        box-shadow: 10px 4px 14px rgba(0, 0, 0, 0 25);
    }

